@media all and (max-width: 1200px) {
    #portfolio .portfolio-items .single-portfolio-item {
        width: 50%;
    }
    #portfolio .portfolio-items .single-portfolio-item:last-child {
        width: 100%;
    }
}

@media all and (max-width: 992px) {
/*responsywne menu*/
    #main_nav .toggle {
        display: block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
    }
    #main_nav>ul {
        display: none;
        margin: 0;
        float: right;
    }
    #drop:checked+ul {
        display: block;
    }
    #main_nav>ul>li {
        display: inline-block;
        width: 100%;
        text-align: right;
        padding: 20px;
    }
/*koniec responsywnego menu*/
    
/*responsywny nagłówek*/
    #header .main_header_content{
        padding: 10%;
    }
    
/*koniec responsywnego nagłówka*/
}

@media all and (max-width: 768px) {
    
    /*responsywny nagłówek*/
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 1.5sm;
    }
    
/*koniec responsywnego nagłówka*/
}