*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
    }

/*
font-family: 'Roboto', sans-serif;
*/

#main_nav{
    position: fixed;
    background-color: #fff;
}
#main_nav > ul >  li {
    display: inline-block;
    list-style: none;
}

/*
nav#menu>ul>li.menu-item {
    display: inline-block;
    padding: 25px;
    list-style: none;*/
